In [1]:
# get the open API '휴게소별 날씨 정보' provided by 한국도로공사
import pandas as pd
import requests
import json

In [70]:
# Define the parameters for the API request
parameters = {
    "key": "***",  # hide API key by using .gitignore
    "type": "json",       
    "sdate": "20240624", # check dates - 4th, 12th, 20th, 24th
    "stdHour": "10" # weather data seem to be acquired from 10am..
}
url = "https://data.ex.co.kr/openapi/restinfo/restWeatherList"
response = requests.get(url, params=parameters)

In [71]:
response.json()['list'][0]

{'unitName': '죽전휴게소',
 'unitCode': '002 ',
 'sdate': '20240624',
 'stdHour': '10',
 'routeNo': '0010',
 'routeName': '경부선',
 'updownTypeCode': 'E',
 'xValue': '127.104165',
 'yValue': '37.332651',
 'tmxValue': '209231.370200',
 'tmyValue': '525935.874890',
 'measurement': '연천',
 'addr': '경기도 용인시 수지구 풍덕천동 42-1',
 'addrCode': '119',
 'addrName': '수원',
 'weatherContents': '구름조금',
 'statusNo': '-99.000000',
 'correctNo': '20.720000',
 'cloudValue': '3.000000',
 'addcloudValue': '3.000000',
 'cloudformValue': '-99.000000',
 'tempValue': '25.700000',
 'dewValue': '20.000000',
 'discomforeValue': '-99.00',
 'sensoryTemp': '-99.000000',
 'highestTemp': '-99.00',
 'highestyearTemp': '-99.00',
 'highestcompTemp': '-99.000000',
 'lowestTemp': '-99.000000',
 'lowestyearTemp': '-99.000000',
 'lowestcompTemp': '-99.000000',
 'rainfallValue': '-99.000000',
 'rainfallstrengthValue': '-99.000000',
 'newsnowValue': '-99.000000',
 'snowValue': '-99.000000',
 'humidityValue': '71.000000',
 'windContents': '25',
 'windValue': '2.500000'}

In [72]:
stName = []
address = []
weather = []
dew = []
rainfall = []

for i in range(len(response.json()['list'])):
    stName.append(response.json()['list'][i]['unitName'])
    address.append(response.json()['list'][i]['addr'])
    weather.append(response.json()['list'][i]['weatherContents'])
    dew.append(response.json()['list'][i]['dewValue'])
    rainfall.append(response.json()['list'][i]['rainfallValue'])

In [73]:
df = pd.DataFrame({'stName':pd.Series(stName), 'address':pd.Series(address), 'weather':pd.Series(weather),
                  'dew':pd.Series(dew), 'rain':pd.Series(rainfall)})
df.head()

         stName                 address weather        dew        rain
0         죽전휴게소   경기도 용인시 수지구 풍덕천동 42-1    구름조금  20.000000  -99.000000
1     안성휴게소(서울)     경기도 안성시 원곡면 산하리 357    구름조금  20.000000  -99.000000
2     옥산휴게소(서울)                            구름조금  20.000000    0.000000
3  천안(삼)휴게소(서울)  충청남도 천안시 동남구 삼룡동 103-1    구름조금  20.600000  -99.000000
4     죽암휴게소(서울)                            구름많음  20.200000  -99.000000

In [74]:
df['dew'].unique()

array(['20.000000', '20.600000', '20.200000', '20.100000', '19.800000',
       '19.300000', '20.400000', '20.300000', '22.200000', '22.700000',
       '21.800000', '20.700000', '22.100000', '20.800000', '20.500000',
       '19.700000', '22.000000', '21.100000', '21.600000', '19.500000',
       '21.300000', '-99.000000', '21.400000', '21.900000', '18.500000',
       '16.300000', '19.100000', '18.100000', '19.900000', '18.600000'],
      dtype=object)

In [75]:
df['rain'].unique()

array(['-99.000000', '0.000000', '0.700000', '0.400000', '19.600000',
       '5.500000', '1.000000', '0.100000', '2.100000', '8.199999',
       '11.100000'], dtype=object)

In [78]:
df['dew'] = df['dew'].apply(lambda x:int(float(x)))
df['rain'] = df['rain'].apply(lambda x:int(float(x)))

In [79]:
# drop rows whose value is just set as blank
dropIdx = df[(df['address'] =='')|(df['rain']==-99)].index
df = df.drop(dropIdx)
df.head()

          stName                      address weather  dew  rain
14     청원휴게소(서울)  충청북도 청주시 흥덕구 옥산면 수락리 산 19-3    구름조금   20     0
28     군산휴게소(서울)         전라북도 군산시 나포면 서포리 539      흐림   22     0
29     고창휴게소(서울)      전라북도 고창군 고창읍 신월리 492-10      흐림   21     0
32     서천휴게소(서울)       충청남도 서천군 비인면 관리 산 38-1      흐림   22     0
33  고창고인돌휴게소(서울)      전라북도 고창군 고창읍 신월리 492-10      흐림   21     0

In [ ]:
# no rain at any stations

In [ ]:
## previous trial

In [36]:
df['newAdd'] = df['address'].apply(lambda x:x.split()[0])
df.head()

         stName                      address weather newAdd
1  천안(삼)휴게소(서울)       충청남도 천안시 동남구 삼룡동 103-1      맑음   충청남도
3     옥천휴게소(서울)         충청북도 옥천군 옥천읍 구일리 918      맑음   충청북도
4     황간휴게소(서울)         충청북도 영동군 황간면 회포리 234      맑음   충청북도
5     입장휴게소(서울)  충청남도 천안시 서북구 입장면 가산리 362-26      맑음   충청남도
7     칠곡휴게소(서울)       경상북도 칠곡군 왜관읍 아곡리 558-7      맑음   경상북도

In [37]:
df = df.drop('address',axis=1)
df.head()

         stName weather newAdd
1  천안(삼)휴게소(서울)      맑음   충청남도
3     옥천휴게소(서울)      맑음   충청북도
4     황간휴게소(서울)      맑음   충청북도
5     입장휴게소(서울)      맑음   충청남도
7     칠곡휴게소(서울)      맑음   경상북도

In [39]:
df['weather'].unique()

array(['맑음', '구름많음', '구름조금'], dtype=object)

In [41]:
df[df['weather']=='구름많음']

           stName weather newAdd
8       경산휴게소(서울)    구름많음   경상북도
9       건천휴게소(서울)    구름많음   경상북도
10      언양휴게소(서울)    구름많음  울산광역시
26      고창휴게소(서울)    구름많음   전라북도
30   고창고인돌휴게소(서울)    구름많음   전라북도
31      영천휴게소(포항)    구름많음   경상북도
37     백양사휴게소(천안)    구름많음   전라남도
77      장안휴게소(울산)    구름많음  부산광역시
92      평사휴게소(부산)    구름많음   경상북도
94      건천휴게소(부산)    구름많음   경상북도
95      언양휴게소(부산)    구름많음  울산광역시
97      경주휴게소(부산)    구름많음   경상북도
112     고창휴게소(목포)    구름많음   전라북도
116  고창고인돌휴게소(목포)    구름많음   전라북도
117     영천휴게소(대구)    구름많음   경상북도
118         청통휴게소    구름많음   경상북도
123    백양사휴게소(순천)    구름많음   전라남도
161     장안휴게소(부산)    구름많음  부산광역시