In [40]:
import pandas as pd
df = pd.read_csv('평일전국교통량행렬.csv',encoding='utf-8')
df.head()

,Unnamed: 0,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시
0,경기도,982472.25,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25
1,경상남도,7865.75,337506.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50
2,충청남도,77375.00,2325.50,146059.75,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00
3,충청북도,57466.00,1849.75,9552.25,48398.50,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50
4,대전광역시,12649.75,1699.00,25930.25,26561.00,43968.75,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75

In [41]:
df = df.rename(columns={'Unnamed: 0':'name'})
df = df.set_index('name')
df.head()

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시
name,,,,,,,,,,,,,,
경기도,982472.25,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25
경상남도,7865.75,337506.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50
충청남도,77375.00,2325.50,146059.75,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00
충청북도,57466.00,1849.75,9552.25,48398.50,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50
대전광역시,12649.75,1699.00,25930.25,26561.00,43968.75,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75

In [42]:
# clear self-loops
for i in range(len(df.iloc[0])):
    df.iloc[i][i] = 0

C:\Users\syj43\AppData\Local\Temp\ipykernel_19592\4014046213.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[i][i] = 0
C:\Users\syj43\AppData\Local\Temp\ipykernel_19592\4014046213.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[i][i] = 0

In [43]:
df

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시
name,,,,,,,,,,,,,,
경기도,0.00,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25
경상남도,7865.75,0.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50
충청남도,77375.00,2325.50,0.00,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00
충청북도,57466.00,1849.75,9552.25,0.00,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50
대전광역시,12649.75,1699.00,25930.25,26561.00,0.00,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75
경상북도,9579.75,14449.50,3164.50,8406.00,2866.50,0.00,113235.50,9461.25,5788.50,1643.50,1302.50,1249.00,757.00,331.50
대구광역시,5095.00,27123.50,1655.75,2238.00,1459.00,105569.50,0.00,1437.25,3330.75,1172.00,839.50,378.75,698.75,231.00
울산광역시,119.75,21078.25,214.25,84.75,181.00,9694.00,1429.75,0.00,22639.50,145.00,316.75,6.75,57.75,15.75
부산광역시,26838.25,84942.75,243.50,162.50,195.75,4734.25,544.25,21237.50,0.00,607.25,1422.25,11.50,290.50,22.25
전라북도,2813.25,4343.25,18307.25,2807.25,7441.75,1634.25,1215.50,138.50,1053.50,0.00,21348.75,224.50,4943.25,994.25
전라남도,3492.00,9281.50,10608.50,1638.25,1953.50,1124.00,781.00,336.25,2286.75,20589.75,0.00,198.00,38979.50,354.50
강원도,33871.00,244.75,232.75,6812.75,662.00,1260.50,506.75,1.75,12.00,266.00,227.50,0.00,41.25,11.50
광주광역시,350.00,1767.00,974.50,285.75,328.00,806.00,744.25,59.00,397.25,4861.50,38587.50,35.25,0.00,52.25
세종특별자치시,83.75,269.75,5754.50,755.25,6800.75,328.50,338.50,14.00,13.00,943.50,311.25,6.75,36.50,0.00

In [44]:
# sum columns up
totalTraff = df.sum(axis='columns')
totalTraff

name
경기도        235901.75
경상남도       175544.75
충청남도       165925.00
충청북도       123488.50
대전광역시       90225.00
경상북도       172235.00
대구광역시      151228.75
울산광역시       55983.25
부산광역시      141252.50
전라북도        67265.25
전라남도        91623.50
강원도         44150.50
광주광역시       49248.25
세종특별자치시     15656.00
dtype: float64

In [45]:
totalTraffRow = df.sum(axis='rows')
totalTraffRow

경기도        237599.25
경상남도       175844.50
충청남도       164542.50
충청북도       120917.50
대전광역시       91895.25
경상북도       168032.25
대구광역시      155414.50
울산광역시       54032.50
부산광역시      144871.25
전라북도        66324.75
전라남도        90734.50
강원도         43707.25
광주광역시       49526.00
세종특별자치시     16286.00
dtype: float64

In [46]:
df.loc[-1] = totalTraffRow.values
df

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시
name,,,,,,,,,,,,,,
경기도,0.00,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25
경상남도,7865.75,0.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50
충청남도,77375.00,2325.50,0.00,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00
충청북도,57466.00,1849.75,9552.25,0.00,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50
대전광역시,12649.75,1699.00,25930.25,26561.00,0.00,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75
경상북도,9579.75,14449.50,3164.50,8406.00,2866.50,0.00,113235.50,9461.25,5788.50,1643.50,1302.50,1249.00,757.00,331.50
대구광역시,5095.00,27123.50,1655.75,2238.00,1459.00,105569.50,0.00,1437.25,3330.75,1172.00,839.50,378.75,698.75,231.00
울산광역시,119.75,21078.25,214.25,84.75,181.00,9694.00,1429.75,0.00,22639.50,145.00,316.75,6.75,57.75,15.75
부산광역시,26838.25,84942.75,243.50,162.50,195.75,4734.25,544.25,21237.50,0.00,607.25,1422.25,11.50,290.50,22.25
전라북도,2813.25,4343.25,18307.25,2807.25,7441.75,1634.25,1215.50,138.50,1053.50,0.00,21348.75,224.50,4943.25,994.25
전라남도,3492.00,9281.50,10608.50,1638.25,1953.50,1124.00,781.00,336.25,2286.75,20589.75,0.00,198.00,38979.50,354.50
강원도,33871.00,244.75,232.75,6812.75,662.00,1260.50,506.75,1.75,12.00,266.00,227.50,0.00,41.25,11.50
광주광역시,350.00,1767.00,974.50,285.75,328.00,806.00,744.25,59.00,397.25,4861.50,38587.50,35.25,0.00,52.25
세종특별자치시,83.75,269.75,5754.50,755.25,6800.75,328.50,338.50,14.00,13.00,943.50,311.25,6.75,36.50,0.00
-1,237599.25,175844.50,164542.50,120917.50,91895.25,168032.25,155414.50,54032.50,144871.25,66324.75,90734.50,43707.25,49526.00,16286.00

In [47]:
df = df.rename(index={-1:"entTotalTraffic"})

In [49]:
df['exitTotalTraff'] = totalTraff
df

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시,exitTotalTraff
name,,,,,,,,,,,,,,,
경기도,0.00,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25,235901.75
경상남도,7865.75,0.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50,175544.75
충청남도,77375.00,2325.50,0.00,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00,165925.00
충청북도,57466.00,1849.75,9552.25,0.00,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50,123488.50
대전광역시,12649.75,1699.00,25930.25,26561.00,0.00,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75,90225.00
경상북도,9579.75,14449.50,3164.50,8406.00,2866.50,0.00,113235.50,9461.25,5788.50,1643.50,1302.50,1249.00,757.00,331.50,172235.00
대구광역시,5095.00,27123.50,1655.75,2238.00,1459.00,105569.50,0.00,1437.25,3330.75,1172.00,839.50,378.75,698.75,231.00,151228.75
울산광역시,119.75,21078.25,214.25,84.75,181.00,9694.00,1429.75,0.00,22639.50,145.00,316.75,6.75,57.75,15.75,55983.25
부산광역시,26838.25,84942.75,243.50,162.50,195.75,4734.25,544.25,21237.50,0.00,607.25,1422.25,11.50,290.50,22.25,141252.50
전라북도,2813.25,4343.25,18307.25,2807.25,7441.75,1634.25,1215.50,138.50,1053.50,0.00,21348.75,224.50,4943.25,994.25,67265.25
전라남도,3492.00,9281.50,10608.50,1638.25,1953.50,1124.00,781.00,336.25,2286.75,20589.75,0.00,198.00,38979.50,354.50,91623.50
강원도,33871.00,244.75,232.75,6812.75,662.00,1260.50,506.75,1.75,12.00,266.00,227.50,0.00,41.25,11.50,44150.50
광주광역시,350.00,1767.00,974.50,285.75,328.00,806.00,744.25,59.00,397.25,4861.50,38587.50,35.25,0.00,52.25,49248.25
세종특별자치시,83.75,269.75,5754.50,755.25,6800.75,328.50,338.50,14.00,13.00,943.50,311.25,6.75,36.50,0.00,15656.00
entTotalTraffic,237599.25,175844.50,164542.50,120917.50,91895.25,168032.25,155414.50,54032.50,144871.25,66324.75,90734.50,43707.25,49526.00,16286.00,NaN

In [51]:
# first check point
df.to_csv('adjMatEntExit.csv',encoding='utf-8')

In [69]:
# copy the df and replace values by their ratio to total traffic
# ratio dataFrame
rdf = df.copy()

In [70]:
rdf['경기도'] = round(rdf['경기도']/rdf['exitTotalTraff'],3)
rdf['경상남도'] = round(rdf['경상남도']/rdf['exitTotalTraff'],3)
rdf['충청남도'] = round(rdf['충청남도']/rdf['exitTotalTraff'],3)
rdf['충청북도'] = round(rdf['충청북도']/rdf['exitTotalTraff'],3)
rdf['대전광역시'] = round(rdf['대전광역시']/rdf['exitTotalTraff'],3)
rdf['경상북도'] = round(rdf['경상북도']/rdf['exitTotalTraff'],3)
rdf['대구광역시'] = round(rdf['대구광역시']/rdf['exitTotalTraff'],3)
rdf['울산광역시'] = round(rdf['울산광역시']/rdf['exitTotalTraff'],3)
rdf['부산광역시'] = round(rdf['부산광역시']/rdf['exitTotalTraff'],3)
rdf['전라북도'] = round(rdf['전라북도']/rdf['exitTotalTraff'],3)
rdf['전라남도'] = round(rdf['전라남도']/rdf['exitTotalTraff'],3)
rdf['강원도'] = round(rdf['강원도']/rdf['exitTotalTraff'],3)
rdf['광주광역시'] = round(rdf['광주광역시']/rdf['exitTotalTraff'],3)
rdf['세종특별자치시'] = round(rdf['세종특별자치시']/rdf['exitTotalTraff'],3)

In [71]:
rdf

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시,exitTotalTraff
name,,,,,,,,,,,,,,,
경기도,0.000,0.027,0.358,0.248,0.055,0.043,0.033,0.001,0.060,0.014,0.016,0.143,0.002,0.000,235901.75
경상남도,0.045,0.000,0.019,0.016,0.015,0.103,0.119,0.118,0.477,0.024,0.050,0.002,0.010,0.002,175544.75
충청남도,0.466,0.014,0.000,0.059,0.163,0.019,0.015,0.001,0.046,0.111,0.063,0.001,0.006,0.035,165925.00
충청북도,0.465,0.015,0.077,0.000,0.222,0.070,0.027,0.001,0.024,0.023,0.012,0.055,0.002,0.006,123488.50
대전광역시,0.140,0.019,0.287,0.294,0.000,0.032,0.025,0.002,0.008,0.081,0.021,0.007,0.004,0.080,90225.00
경상북도,0.056,0.084,0.018,0.049,0.017,0.000,0.657,0.055,0.034,0.010,0.008,0.007,0.004,0.002,172235.00
대구광역시,0.034,0.179,0.011,0.015,0.010,0.698,0.000,0.010,0.022,0.008,0.006,0.003,0.005,0.002,151228.75
울산광역시,0.002,0.377,0.004,0.002,0.003,0.173,0.026,0.000,0.404,0.003,0.006,0.000,0.001,0.000,55983.25
부산광역시,0.190,0.601,0.002,0.001,0.001,0.034,0.004,0.150,0.000,0.004,0.010,0.000,0.002,0.000,141252.50
전라북도,0.042,0.065,0.272,0.042,0.111,0.024,0.018,0.002,0.016,0.000,0.317,0.003,0.073,0.015,67265.25
전라남도,0.038,0.101,0.116,0.018,0.021,0.012,0.009,0.004,0.025,0.225,0.000,0.002,0.425,0.004,91623.50
강원도,0.767,0.006,0.005,0.154,0.015,0.029,0.011,0.000,0.000,0.006,0.005,0.000,0.001,0.000,44150.50
광주광역시,0.007,0.036,0.020,0.006,0.007,0.016,0.015,0.001,0.008,0.099,0.784,0.001,0.000,0.001,49248.25
세종특별자치시,0.005,0.017,0.368,0.048,0.434,0.021,0.022,0.001,0.001,0.060,0.020,0.000,0.002,0.000,15656.00

In [72]:
rdf.to_csv('exitRatioAdjMatrix.csv',encoding='utf-8')

In [85]:
rdf2 = df.copy()
rdf2

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시,exitTotalTraff
name,,,,,,,,,,,,,,,
경기도,0.00,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25,235901.75
경상남도,7865.75,0.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50,175544.75
충청남도,77375.00,2325.50,0.00,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00,165925.00
충청북도,57466.00,1849.75,9552.25,0.00,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50,123488.50
대전광역시,12649.75,1699.00,25930.25,26561.00,0.00,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75,90225.00
경상북도,9579.75,14449.50,3164.50,8406.00,2866.50,0.00,113235.50,9461.25,5788.50,1643.50,1302.50,1249.00,757.00,331.50,172235.00
대구광역시,5095.00,27123.50,1655.75,2238.00,1459.00,105569.50,0.00,1437.25,3330.75,1172.00,839.50,378.75,698.75,231.00,151228.75
울산광역시,119.75,21078.25,214.25,84.75,181.00,9694.00,1429.75,0.00,22639.50,145.00,316.75,6.75,57.75,15.75,55983.25
부산광역시,26838.25,84942.75,243.50,162.50,195.75,4734.25,544.25,21237.50,0.00,607.25,1422.25,11.50,290.50,22.25,141252.50
전라북도,2813.25,4343.25,18307.25,2807.25,7441.75,1634.25,1215.50,138.50,1053.50,0.00,21348.75,224.50,4943.25,994.25,67265.25
전라남도,3492.00,9281.50,10608.50,1638.25,1953.50,1124.00,781.00,336.25,2286.75,20589.75,0.00,198.00,38979.50,354.50,91623.50
강원도,33871.00,244.75,232.75,6812.75,662.00,1260.50,506.75,1.75,12.00,266.00,227.50,0.00,41.25,11.50,44150.50
광주광역시,350.00,1767.00,974.50,285.75,328.00,806.00,744.25,59.00,397.25,4861.50,38587.50,35.25,0.00,52.25,49248.25
세종특별자치시,83.75,269.75,5754.50,755.25,6800.75,328.50,338.50,14.00,13.00,943.50,311.25,6.75,36.50,0.00,15656.00

In [86]:
rdf2 = rdf2.drop('exitTotalTraff', axis=1)
rdf2

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시
name,,,,,,,,,,,,,,
경기도,0.00,6470.00,84547.25,58478.00,12980.00,10131.25,7673.25,207.00,14186.75,3271.25,3710.00,33780.00,363.75,103.25
경상남도,7865.75,0.00,3357.25,2874.25,2571.50,18114.00,20918.75,20664.25,83758.00,4300.25,8691.50,322.00,1723.75,383.50
충청남도,77375.00,2325.50,0.00,9813.75,27003.00,3080.00,2448.25,223.25,7670.00,18438.50,10519.25,170.00,981.50,5877.00
충청북도,57466.00,1849.75,9552.25,0.00,27452.50,8640.75,3341.75,96.50,2987.50,2813.25,1522.75,6737.25,301.75,726.50
대전광역시,12649.75,1699.00,25930.25,26561.00,0.00,2915.25,2237.00,156.00,747.75,7273.00,1935.00,587.50,350.75,7182.75
경상북도,9579.75,14449.50,3164.50,8406.00,2866.50,0.00,113235.50,9461.25,5788.50,1643.50,1302.50,1249.00,757.00,331.50
대구광역시,5095.00,27123.50,1655.75,2238.00,1459.00,105569.50,0.00,1437.25,3330.75,1172.00,839.50,378.75,698.75,231.00
울산광역시,119.75,21078.25,214.25,84.75,181.00,9694.00,1429.75,0.00,22639.50,145.00,316.75,6.75,57.75,15.75
부산광역시,26838.25,84942.75,243.50,162.50,195.75,4734.25,544.25,21237.50,0.00,607.25,1422.25,11.50,290.50,22.25
전라북도,2813.25,4343.25,18307.25,2807.25,7441.75,1634.25,1215.50,138.50,1053.50,0.00,21348.75,224.50,4943.25,994.25
전라남도,3492.00,9281.50,10608.50,1638.25,1953.50,1124.00,781.00,336.25,2286.75,20589.75,0.00,198.00,38979.50,354.50
강원도,33871.00,244.75,232.75,6812.75,662.00,1260.50,506.75,1.75,12.00,266.00,227.50,0.00,41.25,11.50
광주광역시,350.00,1767.00,974.50,285.75,328.00,806.00,744.25,59.00,397.25,4861.50,38587.50,35.25,0.00,52.25
세종특별자치시,83.75,269.75,5754.50,755.25,6800.75,328.50,338.50,14.00,13.00,943.50,311.25,6.75,36.50,0.00

In [87]:
totalTraffRow = rdf2.sum(axis='rows')
totalTraffRow['경기도']

np.float64(237599.25)

In [88]:
totalTraffRow

경기도        237599.25
경상남도       175844.50
충청남도       164542.50
충청북도       120917.50
대전광역시       91895.25
경상북도       168032.25
대구광역시      155414.50
울산광역시       54032.50
부산광역시      144871.25
전라북도        66324.75
전라남도        90734.50
강원도         43707.25
광주광역시       49526.00
세종특별자치시     16286.00
dtype: float64

In [89]:
for idx, row in rdf2.iterrows():
    row['경기도'] = round(row['경기도']/totalTraffRow['경기도'],3)
    row['경상남도'] = round(row['경상남도']/totalTraffRow['경상남도'],3)
    row['충청남도'] = round(row['충청남도']/totalTraffRow['충청남도'],3)
    row['충청북도'] = round(row['충청북도']/totalTraffRow['충청북도'],3)
    row['대전광역시'] = round(row['대전광역시']/totalTraffRow['대전광역시'],3)
    row['경상북도'] = round(row['경상북도']/totalTraffRow['경상북도'],3)
    row['대구광역시'] = round(row['대구광역시']/totalTraffRow['대구광역시'],3)
    row['울산광역시'] = round(row['울산광역시']/totalTraffRow['울산광역시'],3)
    row['부산광역시'] = round(row['부산광역시']/totalTraffRow['부산광역시'],3)
    row['전라북도'] = round(row['전라북도']/totalTraffRow['전라북도'],3)
    row['전라남도'] = round(row['전라남도']/totalTraffRow['전라남도'],3)
    row['강원도'] = round(row['강원도']/totalTraffRow['강원도'],3)
    row['광주광역시'] = round(row['광주광역시']/totalTraffRow['광주광역시'],3)
    row['세종특별자치시'] = round(row['세종특별자치시']/totalTraffRow['세종특별자치시'],3)

In [90]:
rdf2

,경기도,경상남도,충청남도,충청북도,대전광역시,경상북도,대구광역시,울산광역시,부산광역시,전라북도,전라남도,강원도,광주광역시,세종특별자치시
name,,,,,,,,,,,,,,
경기도,0.000,0.037,0.514,0.484,0.141,0.060,0.049,0.004,0.098,0.049,0.041,0.773,0.007,0.006
경상남도,0.033,0.000,0.020,0.024,0.028,0.108,0.135,0.382,0.578,0.065,0.096,0.007,0.035,0.024
충청남도,0.326,0.013,0.000,0.081,0.294,0.018,0.016,0.004,0.053,0.278,0.116,0.004,0.020,0.361
충청북도,0.242,0.011,0.058,0.000,0.299,0.051,0.022,0.002,0.021,0.042,0.017,0.154,0.006,0.045
대전광역시,0.053,0.010,0.158,0.220,0.000,0.017,0.014,0.003,0.005,0.110,0.021,0.013,0.007,0.441
경상북도,0.040,0.082,0.019,0.070,0.031,0.000,0.729,0.175,0.040,0.025,0.014,0.029,0.015,0.020
대구광역시,0.021,0.154,0.010,0.019,0.016,0.628,0.000,0.027,0.023,0.018,0.009,0.009,0.014,0.014
울산광역시,0.001,0.120,0.001,0.001,0.002,0.058,0.009,0.000,0.156,0.002,0.003,0.000,0.001,0.001
부산광역시,0.113,0.483,0.001,0.001,0.002,0.028,0.004,0.393,0.000,0.009,0.016,0.000,0.006,0.001
전라북도,0.012,0.025,0.111,0.023,0.081,0.010,0.008,0.003,0.007,0.000,0.235,0.005,0.100,0.061
전라남도,0.015,0.053,0.064,0.014,0.021,0.007,0.005,0.006,0.016,0.310,0.000,0.005,0.787,0.022
강원도,0.143,0.001,0.001,0.056,0.007,0.008,0.003,0.000,0.000,0.004,0.003,0.000,0.001,0.001
광주광역시,0.001,0.010,0.006,0.002,0.004,0.005,0.005,0.001,0.003,0.073,0.425,0.001,0.000,0.003
세종특별자치시,0.000,0.002,0.035,0.006,0.074,0.002,0.002,0.000,0.000,0.014,0.003,0.000,0.001,0.000

In [92]:
rdf2.to_csv('entRatioAdjMatrix.csv', encoding='utf-8')

In [113]:
# 권역별
ndf = pd.read_excel('권역별교통량.xlsx')
ndf

,Unnamed: 0,서울경기,강원도,대전충남,충청북도,대구경북,전라북도,광주전남,부산경남
0,서울경기,982472.25,33780.00,92323.75,58478.00,17804.50,3271.25,4073.75,20863.75
1,강원도,33871.00,110207.75,751.00,6812.75,1767.25,266.00,268.75,258.50
2,대전충남,90024.75,757.50,189735.00,36374.75,10680.50,25711.50,13786.50,12821.50
3,충청북도,57466.00,6737.25,13620.50,48398.50,11982.50,2813.25,1824.50,4933.75
4,대구경북,14674.75,1627.75,263943.00,10644.00,460999.00,2815.50,3597.75,61590.75
5,전라북도,2813.25,224.50,20517.00,2807.25,2849.75,36334.25,26292.00,5535.25
6,광주전남,3842.00,233.25,13515.00,1924.00,3455.25,25451.25,168129.50,14127.75
7,부산경남,34823.75,340.25,27129.25,3121.50,55435.00,5052.50,12502.50,690167.50

In [114]:
ndf = ndf.rename(columns={'Unnamed: 0':'name'})
ndf = ndf.set_index('name')
ndf

,서울경기,강원도,대전충남,충청북도,대구경북,전라북도,광주전남,부산경남
name,,,,,,,,
서울경기,982472.25,33780.00,92323.75,58478.00,17804.50,3271.25,4073.75,20863.75
강원도,33871.00,110207.75,751.00,6812.75,1767.25,266.00,268.75,258.50
대전충남,90024.75,757.50,189735.00,36374.75,10680.50,25711.50,13786.50,12821.50
충청북도,57466.00,6737.25,13620.50,48398.50,11982.50,2813.25,1824.50,4933.75
대구경북,14674.75,1627.75,263943.00,10644.00,460999.00,2815.50,3597.75,61590.75
전라북도,2813.25,224.50,20517.00,2807.25,2849.75,36334.25,26292.00,5535.25
광주전남,3842.00,233.25,13515.00,1924.00,3455.25,25451.25,168129.50,14127.75
부산경남,34823.75,340.25,27129.25,3121.50,55435.00,5052.50,12502.50,690167.50

In [115]:
# clear self-loops
for i in range(len(ndf.iloc[0])):
    ndf.iloc[i][i] = 0

C:\Users\syj43\AppData\Local\Temp\ipykernel_19592\1593861942.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  ndf.iloc[i][i] = 0
C:\Users\syj43\AppData\Local\Temp\ipykernel_19592\1593861942.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  ndf.iloc[i][i] = 0

In [116]:
ndf

,서울경기,강원도,대전충남,충청북도,대구경북,전라북도,광주전남,부산경남
name,,,,,,,,
서울경기,0.00,33780.00,92323.75,58478.00,17804.50,3271.25,4073.75,20863.75
강원도,33871.00,0.00,751.00,6812.75,1767.25,266.00,268.75,258.50
대전충남,90024.75,757.50,0.00,36374.75,10680.50,25711.50,13786.50,12821.50
충청북도,57466.00,6737.25,13620.50,0.00,11982.50,2813.25,1824.50,4933.75
대구경북,14674.75,1627.75,263943.00,10644.00,0.00,2815.50,3597.75,61590.75
전라북도,2813.25,224.50,20517.00,2807.25,2849.75,0.00,26292.00,5535.25
광주전남,3842.00,233.25,13515.00,1924.00,3455.25,25451.25,0.00,14127.75
부산경남,34823.75,340.25,27129.25,3121.50,55435.00,5052.50,12502.50,0.00

In [104]:
exitTotalTraff = ndf.sum(axis='columns')
exitTotalTraff

name
서울경기    230595.00
강원도      43995.25
대전충남    190157.00
충청북도     99377.75
대구경북    358893.50
전라북도     61039.00
광주전남     62548.50
부산경남    138404.75
dtype: float64

In [117]:
entTotalTraff = ndf.sum(axis='rows')
entTotalTraff

서울경기    237515.50
강원도      43700.50
대전충남    431799.50
충청북도    120162.25
대구경북    103974.75
전라북도     65381.25
광주전남     62345.75
부산경남    120131.25
dtype: float64

In [107]:
ndf['exitTotalTraff'] = exitTotalTraff.values
ndf

,서울경기,강원도,대전충남,충청북도,대구경북,전라북도,광주전남,부산경남,exitTotalTraff
name,,,,,,,,,
서울경기,0.00,33780.00,92323.75,58478.00,17804.50,3271.25,4073.75,20863.75,230595.00
강원도,33871.00,0.00,751.00,6812.75,1767.25,266.00,268.75,258.50,43995.25
대전충남,90024.75,757.50,0.00,36374.75,10680.50,25711.50,13786.50,12821.50,190157.00
충청북도,57466.00,6737.25,13620.50,0.00,11982.50,2813.25,1824.50,4933.75,99377.75
대구경북,14674.75,1627.75,263943.00,10644.00,0.00,2815.50,3597.75,61590.75,358893.50
전라북도,2813.25,224.50,20517.00,2807.25,2849.75,0.00,26292.00,5535.25,61039.00
광주전남,3842.00,233.25,13515.00,1924.00,3455.25,25451.25,0.00,14127.75,62548.50
부산경남,34823.75,340.25,27129.25,3121.50,55435.00,5052.50,12502.50,0.00,138404.75

In [108]:
ndf['서울경기'] = round(ndf['서울경기']/ndf['exitTotalTraff'],3)
ndf['강원도'] = round(ndf['강원도']/ndf['exitTotalTraff'],3)
ndf['대전충남'] = round(ndf['대전충남']/ndf['exitTotalTraff'],3)
ndf['충청북도'] = round(ndf['충청북도']/ndf['exitTotalTraff'],3)
ndf['대구경북'] = round(ndf['대구경북']/ndf['exitTotalTraff'],3)
ndf['전라북도'] = round(ndf['전라북도']/ndf['exitTotalTraff'],3)
ndf['광주전남'] = round(ndf['광주전남']/ndf['exitTotalTraff'],3)
ndf['부산경남'] = round(ndf['부산경남']/ndf['exitTotalTraff'],3)
ndf

       서울경기    강원도   대전충남   충청북도   대구경북   전라북도   광주전남   부산경남  exitTotalTraff
name
서울경기  0.000  0.146  0.400  0.254  0.077  0.014  0.018  0.090       230595.00
강원도   0.770  0.000  0.017  0.155  0.040  0.006  0.006  0.006        43995.25
대전충남  0.473  0.004  0.000  0.191  0.056  0.135  0.073  0.067       190157.00
충청북도  0.578  0.068  0.137  0.000  0.121  0.028  0.018  0.050        99377.75
대구경북  0.041  0.005  0.735  0.030  0.000  0.008  0.010  0.172       358893.50
전라북도  0.046  0.004  0.336  0.046  0.047  0.000  0.431  0.091        61039.00
광주전남  0.061  0.004  0.216  0.031  0.055  0.407  0.000  0.226        62548.50
부산경남  0.252  0.002  0.196  0.023  0.401  0.037  0.090  0.000       138404.75

In [109]:
ndf.to_csv('newExitRatioAdjMatrix.csv', encoding='utf-8')

In [110]:
ndf = ndf.drop('exitTotalTraff', axis=1)

In [111]:
entTotalTraff

서울경기    237515.50
강원도      43700.50
대전충남    431799.50
충청북도    120162.25
대구경북    103974.75
전라북도     65381.25
광주전남     62345.75
부산경남    120131.25
dtype: float64

In [118]:
ndf.loc[-1] = entTotalTraff.values
ndf = ndf.rename(index={-1:"entTotalTraffic"})
ndf

,서울경기,강원도,대전충남,충청북도,대구경북,전라북도,광주전남,부산경남
name,,,,,,,,
서울경기,0.00,33780.00,92323.75,58478.00,17804.50,3271.25,4073.75,20863.75
강원도,33871.00,0.00,751.00,6812.75,1767.25,266.00,268.75,258.50
대전충남,90024.75,757.50,0.00,36374.75,10680.50,25711.50,13786.50,12821.50
충청북도,57466.00,6737.25,13620.50,0.00,11982.50,2813.25,1824.50,4933.75
대구경북,14674.75,1627.75,263943.00,10644.00,0.00,2815.50,3597.75,61590.75
전라북도,2813.25,224.50,20517.00,2807.25,2849.75,0.00,26292.00,5535.25
광주전남,3842.00,233.25,13515.00,1924.00,3455.25,25451.25,0.00,14127.75
부산경남,34823.75,340.25,27129.25,3121.50,55435.00,5052.50,12502.50,0.00
entTotalTraffic,237515.50,43700.50,431799.50,120162.25,103974.75,65381.25,62345.75,120131.25

In [119]:
for idx, row in ndf.iterrows():
    row['서울경기'] = round(row['서울경기']/entTotalTraff['서울경기'],3)
    row['강원도'] = round(row['강원도']/entTotalTraff['강원도'],3)
    row['대전충남'] = round(row['대전충남']/entTotalTraff['대전충남'],3)
    row['충청북도'] = round(row['충청북도']/entTotalTraff['충청북도'],3)
    row['대구경북'] = round(row['대구경북']/entTotalTraff['대구경북'],3)
    row['전라북도'] = round(row['전라북도']/entTotalTraff['전라북도'],3)
    row['광주전남'] = round(row['광주전남']/entTotalTraff['광주전남'],3)
    row['부산경남'] = round(row['부산경남']/entTotalTraff['부산경남'],3)

ndf

                  서울경기    강원도   대전충남   충청북도   대구경북   전라북도   광주전남   부산경남
name
서울경기             0.000  0.773  0.214  0.487  0.171  0.050  0.065  0.174
강원도              0.143  0.000  0.002  0.057  0.017  0.004  0.004  0.002
대전충남             0.379  0.017  0.000  0.303  0.103  0.393  0.221  0.107
충청북도             0.242  0.154  0.032  0.000  0.115  0.043  0.029  0.041
대구경북             0.062  0.037  0.611  0.089  0.000  0.043  0.058  0.513
전라북도             0.012  0.005  0.048  0.023  0.027  0.000  0.422  0.046
광주전남             0.016  0.005  0.031  0.016  0.033  0.389  0.000  0.118
부산경남             0.147  0.008  0.063  0.026  0.533  0.077  0.201  0.000
entTotalTraffic  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000

In [120]:
ndf.to_csv('newEntRatioAdjMatrix.csv', encoding='utf-8')