In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import networkx as nx
import matplotlib.font_manager as fm
fm.fontManager.addfont('BinggraeII.ttf')

In [4]:
df = pd.read_excel('provinceTraffic_reduced&trimed.xlsx',sheet_name='sorted')
df

   municipality1 municipality2  traffic
0            김해시           창원시  4749031
1            김해시           양산시  1215527
2            창원시           함안군   987777
3            사천시           진주시   820625
4            산청군           진주시   485658
5            창녕군           함안군   450542
6            밀양시           창녕군   412546
7            밀양시           창원시   377034
8            김해시           밀양시   256147
9            고성군           사천시   223112
10           고성군           창원시   205146
11           창녕군           창원시   166954
12           산청군           함양군   155334
13           밀양시           양산시   148354
14           거창군           함양군   136122
15           고성군           진주시   104838
16           고성군           통영시   102889
17           진주시           함안군    67496
18           사천시           하동군    43819
19           거제시           통영시    38332
20           산청군           하동군    35079
21           거제시           사천시    21790
22           창녕군           합천군    20272
23           진주시           하동군    20004
24           창원시           통영시    15909
25           하동군           함양군    13412
26           의령군           함안군    13172
27           거창군           합천군    10757
28           산청군           의령군    10586
29           산청군           합천군     9609
30           거제시           창원시     8948
31           의령군           합천군     8693
32           남해군           하동군     7302
33           의령군           진주시     5933
34           거창군           산청군     5829
35           남해군           사천시     5666
36           진주시           창원시     1904
37           의령군           창녕군     1904
38          경상북도           거창군   812140
39          경상북도           밀양시  2701396
40          경상북도           창녕군   724874
41          경상북도           합천군   188473
42         대구광역시           창녕군  1072719
43         대구광역시           합천군     2052
44         울산광역시           밀양시     7171
45         울산광역시           양산시    13928
46          전라남도           하동군   423156
47         부산광역시           양산시    42861
48         부산광역시           창원시    15449
49         부산광역시           김해시  5803915
50          전라북도           함양군   362647
51          전라북도           거창군   217957

In [8]:
# single out routes
pdf = df.iloc[[0,1,7,8,13,47,48,49],:]
pdf = pdf.reset_index(drop=True)
pdf

  municipality1 municipality2  traffic
0           김해시           창원시  4749031
1           김해시           양산시  1215527
2           밀양시           창원시   377034
3           김해시           밀양시   256147
4           밀양시           양산시   148354
5         부산광역시           양산시    42861
6         부산광역시           창원시    15449
7         부산광역시           김해시  5803915

In [9]:
# import population data
pop = pd.read_excel('24년2월경남인구.xlsx')
pop

     이름      인구수
0   창원시  1023259
1   진주시   345852
2   통영시   124753
3   사천시   112658
4   김해시   555409
5   밀양시   106226
6   거제시   246001
7   양산시   362601
8   의령군    26239
9   함안군    64138
10  창녕군    60040
11  고성군    50988
12  남해군    41562
13  하동군    42096
14  산청군    34559
15  함양군    37233
16  거창군    60717
17  합천군    41873

In [23]:
ppop = pop.iloc[[0,4,5,7],:]
ppop = ppop.reset_index(drop=True)
ppop

    이름      인구수
0  창원시  1023259
1  김해시   555409
2  밀양시   106226
3  양산시   362601

In [24]:
ppop.loc[4] = ['부산광역시',3311402]
ppop

      이름      인구수
0    창원시  1023259
1    김해시   555409
2    밀양시   106226
3    양산시   362601
4  부산광역시  3311402